* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}

.calculator {
  width: 320px;
  background: white;
  border-radius: 45px;
  box-shadow:
    rgba(240, 46, 46, 0.4) -5px 5px,
    rgba(240, 46, 46, 0.3) -10px 10px,
    rgba(240, 46, 46, 0.2) -15px 15px,
    rgba(240, 46, 46, 0.1) -20px 20px,
    rgba(240, 46, 46, 0.05) -25px 25px;
}

.display {
  height: 80px;
  display: block;
  text-align: right;
  padding: 30px 30px;
  font-size: 32px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

.btn {
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 45px;
  font-size: 24px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.btn:active {
  box-shadow: none;
}

.btn-yellow {
  background: yellow;
}

.btn-orange {
  background: orange;
}

.btn-duo {
  width: 145px;
}
